.repository-container {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.repository-container > h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 30px;
}


.github-container {
    display:flex;
    
}

.list-repos {
    height: 520px;
    width: 600px;
    overflow: auto;
}

@media screen and (max-width: 928px) {
    .repository-container{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}