.repository-container {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 100px 0
}

.github-container {
    display:flex;
    
}

.repository-container > h2 {
    font-weight: bold;
    font-size: 3rem;
    border-bottom: 1px solid black;
}

.list-repos {
    height: 500px;
    width: 600px;
    overflow: auto;
}

@media screen and (max-width: 879px) {
    .github-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 928px) {
    .repository-container{
        display:flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media  screen and (max-width: 500px) {
    .list-repos{
        width: 400px;
    }
    
}