.repository-container {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.repository-container > h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 30px;
}

.repos {
    position: relative;
    top: 100px;
    width: 400px;
    height: 550px;
    overflow: auto;
}
.github-container {
    display:flex;
    
}
@media screen and (max-width: 928px) {
    .repository-container{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}